doctype
html
	head
		title="JADE test"
		script(src="/client.js")
		script(src="/socket.io/socket.io.js")
	body
		#controls
			label#txt(style='display:block')Напиши сообщение
			input#input(style='width:350px')
			input#submit(type='button', value='послать')